[Unit]
Description=Timer für Überwachung der Batterieladung

[Timer]
OnBootSec=10min
OnUnitActiveSec=25min
Persistent=true

[Install]
WantedBy=timers.target
