SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/home/oli/.local/bin/profile bal"
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/home/oli/.local/bin/profile qui"
